<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.piano.liszt.userMapper">

	<select id="getUserInfo"
		resultType="com.piano.liszt.user.model.UserVO"> SELECT UID , NAME , PWD , EMAIL , GRADE , REG_DT, START_DAY FROM
		TBL_USER WHERE UID = #{uid} </select>
	<select id="getUserList"
		resultType="com.piano.liszt.user.model.UserVO"> SELECT UID , NAME , PWD , EMAIL , GRADE , REG_DT, START_DAY FROM
		TBL_USER </select>
	<insert id="insertUser"
		parameterType="com.piano.liszt.user.model.UserVO"> INSERT INTO TBL_USER (UID, NAME, PWD, EMAIL, REG_DT)
		VALUES ( #{uid} , #{name} , #{pwd} , #{email} , now() ) </insert>
	<update id="updateUser"
		parameterType="com.piano.liszt.user.model.UserVO"> UPDATE TBL_USER SET NAME = #{name} , PWD = #{pwd} ,
		EMAIL = #{email} , GRADE = #{grade} WHERE UID = #{uid} </update>
	<delete id="deleteUser" parameterType="int"> DELETE FROM TBL_USER
		WHERE UID = #{uid} </delete>
	
	<select id="selectUserInfo" parameterType="HashMap" resultType="HashMap">
	<![CDATA[
	select 
	uid, name, email
	from TBL_USER
	where uid like #{ID} and pwd like #{PASSWORD}
	]]>
	
	
	</select>
</mapper>

